// Defaults
executor="slurm"
account="VR0002"
walltime="08:00:00"
memory="8"
jobtype="single"
queue="main"
modules="bowtie2-intel/2.2.1"

// Command specific configuration
commands {

	local {
		executor="local"
	}

    example {
            walltime="24:00:00"
            jobtype="single"
            procs=8
            memory=8
    }

}
